body, head {
    margin: 0;
    padding: 0;
}
.top-bar {
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 10px 25px;
    background-color: lightgray;
    box-sizing: border-box;
}
.blue-square {
    height: 80px;
    width: 80px;
    background-color: #60C6DE;
    margin-top: 0px;
}
.white-section {
    height: 200px;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    text-align: left;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.blue-bar {
    background-color: #60C6DE;
    height: 100px;
}
.aqua-bar {
    background-color: rgb(0, 255, 213);
    height: 100px;
}
.green-bar {
    background-color: lightgreen;
    height: 100px;
}
.yellow-bar {
    background-color: rgb(225, 250, 0);
    height: 100px;
}